.App {
  text-align: -webkit-center;
  height: 100%; 
}

.Background{
  text-align: -webkit-center;
  height: 101vh;
}


::-webkit-scrollbar{
  overflow: scroll;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background: #455a64;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(#546e7a,#90a4ae);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(#90a4ae,#546e7a);
}
